$blackColor: #343434;
$whiteColor: white;
$greyColor: #c4c4c4;

@mixin font($size, $weight) {
    font-family: monospace, sans-serif;
    font-size: $size;
    font-weight: $weight;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}